<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascripts/main.js"></script>
</head>
<body>
  <h3><%= title %></h3>
  <fieldset>
    <form>
      <input type="text" placeholder="team" name="keyword"/>
      <input type="submit" value="Search" />
    </form>
    <div id="result">
    	검색어 :
    	<span id="keyword"></span>		
    	(<span id="count"></span>)
    </div>
  </fieldset>
  <table class="table table-hover table-striped table-dark">
    <thead>
      <tr>
        <th>순위</th>
        <th>이름</th>
        <th>경기수</th>
        <th>승점</th>
        <th>승</th>
        <th>무</th>
        <th>패</th>
        <th>득점</th>
        <th>실점</th>
        <th>득실차</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i < epl.length; i++) { %>
        <tr onclick="javascript:location.href = '/main/team/<%= epl[i].id %>'">
          <td><%= epl[i].rank %></td>
          <td><%= epl[i].name %></td>
          <td><%= epl[i].total %></td>
          <td><%= epl[i].winPoint %></td>
          <td><%= epl[i].win %></td>
          <td><%= epl[i].draw %></td>
          <td><%= epl[i].lose %></td>
          <td><%= epl[i].goals %></td>
          <td><%= epl[i].eat %></td>
          <td><%= epl[i].diff %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>
